
@font-face {
  font-family: 'Oswald';
  src: url("oswald-regular.ttf");
}
@font-face {
  font-family: 'Oswald-bold';
  src: url("oswald-bold.ttf");
}
@font-face {
  font-family: 'Oswald-light';
  src: url("oswald-light.ttf");
}
